html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

@font-face {
  font-family: Galien;
  font-display: swap;
  src: url("../fonts/Galien-Bold.woff2") format("woff2"), url("../fonts/Galien-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Galien;
  font-display: swap;
  src: url("../fonts/Galien-Book.woff2") format("woff2"), url("../fonts/Galien-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Galien;
  font-display: swap;
  src: url("../fonts/Galien-Italic.woff2") format("woff2"), url("../fonts/Galien-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Galien;
  font-display: swap;
  src: url("../fonts/Galien-BookItalic.woff2") format("woff2"), url("../fonts/Galien-BookItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Galien;
  font-display: swap;
  src: url("../fonts/Galien-Light.woff2") format("woff2"), url("../fonts/Galien-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Galien;
  font-display: swap;
  src: url("../fonts/Galien-BoldItalic.woff2") format("woff2"), url("../fonts/Galien-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Galien;
  font-display: swap;
  src: url("../fonts/Galien-LightItalic.woff2") format("woff2"), url("../fonts/Galien-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Galien;
  font-display: swap;
  src: url("../fonts/Galien-Poster.woff2") format("woff2"), url("../fonts/Galien-Poster.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Galien;
  font-display: swap;
  src: url("../fonts/Galien-Regular.woff2") format("woff2"), url("../fonts/Galien-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GalienVariable;
  font-display: swap;
  src: url("../fonts/GalienVariable.woff2") format("woff2"), url("../fonts/GalienVariable.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GalienVariableItalic;
  font-display: swap;
  src: url("../fonts/GalienVariableItalic.woff2") format("woff2"), url("../fonts/GalienVariableItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-BlackItalic.woff2") format("woff2"), url("../fonts/Gilroy-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-BoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraboldItalic.woff2") format("woff2"), url("../fonts/Gilroy-ExtraboldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff2") format("woff2"), url("../fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-HeavyItalic.woff2") format("woff2"), url("../fonts/Gilroy-HeavyItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/Gilroy-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-MediumItalic.woff2") format("woff2"), url("../fonts/Gilroy-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-RegularItalic.woff2") format("woff2"), url("../fonts/Gilroy-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiboldItalic.woff2") format("woff2"), url("../fonts/Gilroy-SemiboldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-ThinItalic.woff2") format("woff2"), url("../fonts/Gilroy-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/Gilroy-UltraLight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLightItalic.woff2") format("woff2"), url("../fonts/Gilroy-UltraLightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 14px;
  width: 100%;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Gilroy", "Lato", sans-serif;
  font-size: 14px;
  background-color: white;
  color: #fff;
  line-height: 1.5;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

.burger {
  display: block;
  width: 24px;
  height: 16px;
  padding: 0;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  background: 0;
  border: 0;
  position: relative;
  z-index: 10000;
}

.burger:before,
.burger:after,
.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #356EAD;
  position: absolute;
  left: 0;
  z-index: 10000;
}

.burger:before,
.burger:after {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.burger:before {
  content: "";
  top: 0;
  z-index: 10000;
}

.burger:after {
  content: "";
  bottom: 0;
  z-index: 10000;
}

.burger span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.show-sidebar .burger span {
  opacity: 0;
}

.show-sidebar .burger:before,
.show-sidebar .burger:after {
  top: 50%;
}

.show-sidebar .burger:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.show-sidebar .burger:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__inner {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

.container__two {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  z-index: 1;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 74px;
  margin: 74px auto 0 auto;
  border: none;
  background: #5A98D0;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background: #356EAD;
}

.btn--form {
  margin: 0 auto 0 auto;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--form:hover {
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.intro {
  position: relative;
}

.intro__gradient {
  height: 100%;
  width: 100%;
  min-height: 688px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #98C3E8), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: -o-linear-gradient(bottom, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
  background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
  opacity: 0.2;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.intro__content {
  margin-bottom: 392px;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  position: relative;
}

.intro__left-title {
  margin-top: 101px;
  width: 564px;
  font-family: "Galien";
  font-weight: 800;
  font-size: 64px;
  line-height: 74px;
  /* or 116% */
  letter-spacing: 0.04em;
  /* Blue_01 */
  color: #1F3F68;
}

.intro__left-text {
  width: 425px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  /* or 162% */
  margin: 32px 0 71px 0;
  letter-spacing: 0.05em;
  /* Blue_01 */
  color: #1F3F68;
  opacity: 0.6;
}

.intro__left-link {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  /* identical to box height, or 162% */
  padding: 15px 48px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.intro__left-link:hover {
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}

.intro__right-img {
  position: absolute;
  top: 0;
  right: -190px;
}

.help {
  margin-top: 192px;
  position: relative;
}

.help__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help__title {
  width: 360px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  /* or 128% */
  letter-spacing: 0.05em;
  /* blue_02 */
  color: #316099;
  position: absolute;
  top: 0;
}

.help__item {
  width: 284px;
  padding: 0 48px 48px 48px;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  position: relative;
  margin: 0 50px 100px 50px;
  -webkit-animation: help__item 15s alternate infinite;
          animation: help__item 15s alternate infinite;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.help__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes help__item {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }

  25% {
    -webkit-transform: translate3d(0, 55px, 0);
            transform: translate3d(0, 55px, 0);
  }

  75% {
    -webkit-transform: translate3d(0px, -55px, 0);
            transform: translate3d(0px, -55px, 0);
  }

  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes help__item {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }

  25% {
    -webkit-transform: translate3d(0, 55px, 0);
            transform: translate3d(0, 55px, 0);
  }

  75% {
    -webkit-transform: translate3d(0px, -55px, 0);
            transform: translate3d(0px, -55px, 0);
  }

  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.help__iteb-block {
  height: 235px;
}

.help__item-img {
  position: absolute;
  left: 50%;
  right: 50%;
  top: -20px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.help__item-img--block {
  position: absolute;
  left: 45%;
  right: 50%;
  top: 48px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.help__item-title {
  width: 286px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 16px;
  /* or 150% */
  letter-spacing: 0.05em;
  /* Blue_01 */
  color: #1F3F68;
}

.help__item-text {
  width: 284px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 32px;
  /* or 162% */
  letter-spacing: 0.05em;
  /* Blue_01 */
  color: #1F3F68;
  opacity: 0.6;
}

.help__flex-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.help__item-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  /* blue_04 */
  color: #5A98D0;
  padding-right: 5px;
}

.help__item-link:hover {
  padding-right: 28px;
}

.beloved {
  background: #5A98D0;
  border-radius: 200px 0px 0px 0px;
  margin-top: 100px;
  padding-top: 96px;
  padding-bottom: 125px;
  height: 470px;
}

.beloved__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 111px;
}

.beloved__one-title {
  width: 224px;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  margin-right: 97px;
  /* or 128% */
  letter-spacing: 0.05em;
  /* white */
  color: #FFFFFF;
}

.beloved__one-text {
  width: 540px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.05em;
  /* white */
  color: #FFFFFF;
  opacity: 0.6;
}

.beloved__two {
  width: 100%;
  max-width: 940px;
  height: auto;
  margin: 0 auto;
  border-collapse: collapse;
  border: 2px solid #5a99cf;
}

.beloved__item TD,
.beloved__item TH {
  border: 1px solid #9dc1e3;
}

.beloved__item-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 46px;
  padding: 42px 40px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  /* identical to box height, or 230% */
  letter-spacing: 0.02em;
  /* white */
  color: #FFFFFF;
  text-align: center;
}

.beloved__item-text--blue_01:hover {
  background: #4e87bc;
}

.beloved__item-link {
  font-size: 20px;
  line-height: 46px;
  padding: 0 17px 0 17px;
  text-align: center;
  /* identical to box height, or 230% */
  letter-spacing: 0.02em;
  /* white */
  color: #FFFFFF;
}

.footer {
  background: #5A98D0;
  position: relative;
  z-index: 1;
}

.footer__color {
  width: 100%;
  height: auto;
  padding: 91px 0 64px 0;
  background: #316099;
  border-radius: 0px 200px 0px 0px;
  position: relative;
  left: 45%;
  right: 50%;
  bottom: 0;
  z-index: 100;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 96px;
  position: relative;
}

.footer__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__one-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__one-title {
  width: 100%;
  max-width: 317px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 500;
  margin-bottom: 32px;
  /* or 128% */
  letter-spacing: 0.05em;
  /* white */
  color: #FFFFFF;
}

.footer__one-text {
  width: 100%;
  max-width: 460px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin: 0 180px 96px 0;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer__one-popup {
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.footer__border {
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
  opacity: 0.4;
  position: absolute;
  top: 43%;
  right: 15%;
}

.footer__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 97px;
}

.footer__two-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px;
}

.footer__two-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}

.footer__two-img {
  margin-right: 15px;
}

.footer__two-title {
  font-size: 28px;
  line-height: 46px;
  font-weight: 500;
  /* identical to box height, or 164% */
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.footer__two-letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 0.05em;
  /* white */
  color: #FFFFFF;
}

.footer__two-text,
.footer__two-link,
.footer__two-mail {
  width: 100%;
  max-width: 264px;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-left: 16px;
  /* or 162% */
  letter-spacing: 0.05em;
  /* white */
  color: #FFFFFF;
}

.footer__two-text:last-child,
.footer__two-link:last-child,
.footer__two-mail:last-child {
  margin-bottom: 0;
}

.footer__two-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 77px;
}

.footer__two-item:last-child {
  margin-right: 0;
}

.footer__two-about {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.footer__two-links {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 16px;
  /* identical to box height, or 162% */
  letter-spacing: 0.05em;
  /* white */
  color: #FFFFFF;
}

.footer__two-links:last-child {
  margin-bottom: 0;
}

.footer__copiright {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  margin-top: 64px;
  margin-left: 96px;
  /* identical to box height, or 162% */
  letter-spacing: 0.05em;
  /* white */
  color: #FFFFFF;
  opacity: 0.4;
}

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px);
          transform: perspective(600px);
  translate: 0px, 0%;
  rotate: 0deg;
  opacity: 1;
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 10px;
  min-height: 100%;
}

.popup__content {
  width: 100%;
  background-color: white;
  color: black;
  max-width: 540px;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.popup__content .popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 11;
}

.popup__icon {
  width: 25px;
  height: 25px;
  fill: black;
  margin-right: 8px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.popup__icon:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  fill: #5A98D0;
}

.popup_2__text {
  font-size: 28px;
  line-height: 30px;
  font-weight: 500;
  padding: 56px;
  /* identical to box height, or 188% */
  letter-spacing: 0.04em;
  /* Blue_01 */
  color: #1F3F68;
  text-align: center;
}

.form {
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 48px;
  /* identical to box height, or 150% */
  letter-spacing: 0.04em;
  /* Blue_01 */
  color: #1F3F68;
}

.form__body {
  position: relative;
  padding: 56px;
}

.form__body::after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(51, 51, 51, 0.9) url(../img/footer/loading.gif) center 0 no-repeat;
  background-size: 50px;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form__label {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  /* identical to box height, or 188% */
  letter-spacing: 0.04em;
  /* Blue_01 */
  color: #1F3F68;
  opacity: 0.8;
}

.form__input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  outline: none;
  letter-spacing: 0.04em;
  opacity: 0.4;
  border: 1px solid #356EAD;
  border-radius: 10px;
  padding: 21px 0 21px 36px;
  margin: 8px 0 32px 0;
}

.form__input::-webkit-input-placeholder {
  color: #1F3F68;
  opacity: 0.2;
}

.form__input::-moz-placeholder {
  color: #1F3F68;
  opacity: 0.2;
}

.form__input:-ms-input-placeholder {
  color: #1F3F68;
  opacity: 0.2;
}

.form__input::-ms-input-placeholder {
  color: #1F3F68;
  opacity: 0.2;
}

.form__input::placeholder {
  color: #1F3F68;
  opacity: 0.2;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

textarea.form__input {
  height: 114px;
  resize: none;
  margin-bottom: 60px;
}

@media screen and (max-width: 1365px) {
  .intro__content {
    margin-bottom: 100px;
  }

  .intro__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intro__left {
    margin: 0 auto 50px auto;
    text-align: center;
  }

  .intro__left-title {
    width: 100%;
  }

  .intro__left-text {
    width: 100%;
  }

  .intro__right {
    margin: 0 auto;
  }

  .intro__right-img {
    position: static;
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .intro__content {
    margin-bottom: 100px;
  }

  .help__title {
    position: static;
    text-align: center;
    width: 100%;
    margin-bottom: 80px;
  }

  .beloved__one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .beloved__one-title {
    text-align: center;
    margin-right: 0;
    width: 100%;
    margin-bottom: 30px;
  }

  .beloved__one-text {
    width: 100%;
    text-align: center;
  }

  .beloved__item-text {
    font-size: 16px;
    padding: 22px 20px;
    line-height: 22px;
  }

  .beloved__item-link {
    font-size: 16px;
    padding: 22px 20px;
    line-height: 22px;
  }

  .footer__color {
    left: 50%;
    right: 50%;
  }

  .footer__inner {
    margin-left: 0px;
  }

  .footer__one {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__one-text {
    width: 310px;
  }

  .footer__border {
    display: none;
  }

  .footer__two {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__two-cont {
    margin-right: 20px;
  }

  .footer__two-item {
    margin-right: 20px;
  }

  .footer__copiright {
    margin-left: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    margin: 0 auto 0 auto;
  }

  .intro__left-title {
    font-size: 38px;
  }

  .intro__left-text {
    font-size: 12px;
  }

  .intro__right-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .beloved__item-text {
    font-size: 12px;
    padding: 14px 13px;
    line-height: 14px;
  }

  .beloved__item-link {
    font-size: 12px;
    padding: 14px 13px;
    line-height: 14px;
  }

  .footer__one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__one-flex {
    text-align: center;
  }

  .footer__one-title {
    max-width: 100%;
  }

  .footer__one-text {
    margin: 0 0px 26px 0;
    width: 100%;
    max-width: 100%;
  }

  .footer__two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__two-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__two-cont {
    text-align: center;
    margin-right: 0;
  }

  .footer__two-letter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__two-item {
    text-align: center;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .footer__two-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 520px) {
  .beloved__item-text {
    font-size: 8px;
    padding: 12px 10px;
    line-height: 12px;
  }

  .beloved__item-link {
    font-size: 8px;
    padding: 12px 10px;
    line-height: 12px;
  }
}

@media screen and (max-width: 450px) {
  .help__item {
    padding: 0 12px 48px 12px;
  }

  .help__item-title {
    font-size: 15px;
  }

  .help__item-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  .popup_2__text {
    padding: 16px;
    font-size: 22px;
  }

  .form__body {
    padding: 16px;
  }
}